Weather and News Update Workflow.json
{
  "name": "Demo Workflow in Progress",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        25.93103448275862
      ],
      "id": "25322c3d-b95e-4287-b09e-19c77494bc56",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=22.56&longitude=72.95&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        32
      ],
      "id": "626265b0-20d0-44d7-a7e8-d41e1e42a3b4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/world/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        192,
        192
      ],
      "id": "cb9c159f-98a9-4265-816f-568a876180d3",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3c8639-85a4-4afd-85ce-a8d6cc3fc8ae",
              "name": "current_weather",
              "value": "={{ $json.current_weather }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        32
      ],
      "id": "cc2ea057-fad3-47d9-8b3d-80de615a1fde",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2434a596-eb3d-4829-9ecd-99b4c0ca5e33",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "2e2b217b-9c47-47ab-a271-1526cddda256",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        192
      ],
      "id": "ab4c3f29-267f-4729-bc27-f958082e8b8c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        64
      ],
      "id": "8743cbcf-a5db-4588-8250-8b66519bb424",
      "name": "Merge"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "81bb3fb3-3d37-45b7-a0f1-4c243b246298",
      "name": "Limit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cad54abc-bc6e-4770-863c-f4f4b271e1d8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55ea6c7031e910b9f00b6a68d62d7bdb2d69559b52ccfff6a3f16f3157d14153"
  },
  "id": "JOvH87AA6ZzzCwxG",
  "tags": []
}